{% extends "layout.html" %}

{% block content %}
        <div class="content-section">
            <form action="{{ url_for('index') }}" method="POST">
                <h3 class="border-top border-bottom">Credit - Grade</h3>
                <div class="alert alert-info col-xs">Note: Please select 0 credits for surplus subjects</div>
                {% for i in range(no_of_subjects) %}
                  <div class="inline">
                    <span class="badge badge-dark">{{ i+1 }}</span>
                    <fieldset>
                      <div class="form-group">
                        <input class="form-control form-control-number form-control-sm" name="credits[]" value="1" placeholder="1" type="number">
                      </div>
                    </fieldset>
                    <strong>-</strong>
                    <fieldset> 
                      <div class="form-group">
                        <select class="form-control form-control-sm" name="grades[]">
                            <option value="O">O</option>
                            <option value="A+">A+</option>
                            <option value="A">A</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="P">P</option>
                        </select>
                       </div>
                    </fieldset>
                  </div>
                {% endfor %}
                <div class="row">
                <button class="rowbtn btn-dark mb-2" id="submit">Calculate</button></div>
            </form>
            {% if FinalGPA %}
            <div class="alert alert-info mb-3" role="alert">
                GPA: {{ FinalGPA }}
            </div>
            {% endif %}
        </div>

{% endblock %}